body, h1, h2, p, ul, pre {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    font-size: 16px; /* Default font size */
}

header {
    background-color: gray;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#navbar {
    background-color: #444;
    padding: 10px;
}

.nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 10px; /* Increase padding for touch-friendly links */
}

.nav-link:hover {
    background-color: #555;
}

#main-doc {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.main-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
    font-size: 24px; /* Increase font size for headings */
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px; /* Reduce font size for code blocks */
}

ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style for the links in the footer */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Style for the links on hover */
footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        font-size: 8px; /* Smaller font size for mobile */
    }
    #navbar {
        padding: 5px;
    }
    .nav-link {
        padding: 8px; /* Slightly larger padding for mobile links */
    }
    #main-doc {
        padding: 10ppx;
    }
    .main-section {
        padding: 10px;
    }
    pre {
        padding: 8px;
    }
   
  pre{
     font-style:italic;
     font-size:xxx-small;
     text-align: start;
}
    h1, h2 {
        font-size: 11px; /* Adjust heading font size for mobile */
    }
}
